

body, body * {
    margin:0;
    padding: 0;
}

.list-style-none{
    list-style-type: none;
}




.how-we-do{
    width: 280px;
    margin:0 auto;
    margin-bottom: 50px;
}

.how-we-do__title{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 33px;
    color: #18191d;
    font-family: "Montserrat";
    font-weight: 800;
    text-align: center;
    margin-bottom: 28px;
}

.how-we-do__item{
    width: 290px;
    min-height: 236px;
    filter: drop-shadow(4px 6.928px 16px rgba(29,29,27,0.11));
    background-color: #ffffff;
    padding-top: 32px;
}

.how-we-do__item:hover, .how-we-do__item:focus{
    background-color: #ff6b08;
}
 .how-we-do__item:focus .how-we-do__methot-title {
    color: #ffffff;
}

.how-we-do__item:focus .how-we-do__method-description{
    color: #ffffff;
}
.how-we-do__item:hover .how-we-do__methot-title {
    color: #ffffff;
}

.how-we-do__item:hover .how-we-do__method-description{
    color: #ffffff;
}
.how-we-do__item:hover  .how-we-do__item-svg{
    fill:#ffffff;
}

.how-we-do__item:focus  .how-we-do__item-svg{
    fill:#ffffff;
}

.how-we-do__item:hover  .how-we-do__methot-title::after{
    background-color: #ffffff;
}

.how-we-do__item:focus  .how-we-do__methot-title::after{
    background-color: #ffffff;
}
.how-we-do__item-svg{
    display: block;
    width: 60px;
    height: 60px;
    fill:#ff6b08;
    margin: 0 auto;
    margin-bottom: 4px;
}

.how-we-do__item:not(:last-of-type){
    margin-bottom: 16px;
}

.how-we-do__methot-title{
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #111517;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    margin-bottom: 14px;
}

.how-we-do__methot-title::after{
    content:"";
    display:block;
    width: 25px;
    height: 2px;
    background-color: #ff6b08;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 16px;
}

.how-we-do__methot-title-break{
    display: block;
}

.how-we-do__method-description{
    padding: 0 20px;
    margin: 0 auto;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #858585;
    font-family:"Montserrat";
    font-weight: 500;
    text-align: center;
}






.our-program{
    width: 320px;
    margin:0 auto;
    background-color: #111517;
    padding-bottom: 318px;
    background-image: url('../img/bg-mob.png');
    background-repeat: no-repeat;
    background-position: right 1370px;
}

.our-program__wrapper{
    width:280px;
    margin:0 auto;
    position: relative;
}


.our-program__list{
    padding-left: 30px;
    margin-left: 62px;
}

.our-program__list::before{
    content: "";
    display:block;
    width: 2px;
    height: 1258px;
    position: absolute;
    background-color: #575173;
    left: 60px;
    top:70px;
}

.our-program__title{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 33px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 800;
    text-align: center;
    margin-bottom: 17px;
}

.our-program__semestr-title{
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 29px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.our-program__semestr-title::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ff6b08;
    position: relative;
    left: -36px;
    top: 18px;
}

.our-program__skils{
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 29px;
    color: #ff6b08;
    font-family: "Montserrat";
    font-weight: 500;
    margin-bottom: 8px;

}

.our-program__semestr-item{
    margin-bottom: 6px;
}

.our-program__item{
    margin-bottom: 24px;
}

.our-program__skils::before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #ff6b08;
    vertical-align: middle;
    margin-right: 12px;
}

.our-program__themes-item{
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #858585;
    font-family: "Montserrat";
    font-weight: 400;
}











.why-we{
    width: 280px;
    margin: 0 auto;
    position: relative;
   
}

/* .why-we__inner-wrapper{
    margin: 0 auto;
    position: absolute;
    top:-422px;
} */

.why-we__title{
    width: 150px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 800;
    margin-bottom: 17px;
}

.why-we__wrapper{
    background-color: #ffffff;
}

.why-we__list{
    width: 224px;
    margin: 0 auto;
  
}

.why-we__item{
    padding-top: 12px;
}

.why-we__number-reason{
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 29px;
    color: #ff6b08;
    font-family: "Montserrat";
    font-weight: 500;
    vertical-align: middle;
    margin-bottom: 4px;
    font-stretch:condensed;
}

.why-we__number-reason::before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #ff6b08;
    vertical-align: middle;
    margin-right: 8px;
    
}

.why-we__item-reason{
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #18191d;
    font-family: "Montserrat";
    font-weight: 700;
}




.teacher{
    width: 320px;
    margin: 0 auto;
    padding-top: 216px;
}

.teacher__wrapper{
    width: 280px;
    margin: 0 auto;
}

.teacher__title{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #111517;
    font-family: "Montserrat";
    font-weight: 800;
    margin-bottom: 22px;
}

.teacher_photo{
    width: 280px;
    height:214px;
    margin-bottom: 12px;
}

.teacher__name{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 29px;
    color: #111517;
    font-family: "Montserrat";
    font-weight: 800;
    margin-bottom: 18px;
}

.teacher__features-item{
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #111517;
    font-family: "Montserrat";
    font-weight: 600;
    padding-left: 35px;
}
.teacher__features-item:not(:last-of-type){
    margin-bottom: 11px;
}

.teacher__features-list{
    position: relative;
    margin-bottom: 12px;
}

.teacher__features-item::before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-size: 120%;
    position: absolute;
    background-position: center;
    left:0px;
    margin-top: 8px;
}

.teacher__biography{
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #858585;
    font-family: "Montserrat";
    font-weight: 500;
    padding: 0 15px;
}

.teacher__biography:first-of-type::before{
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background-color: #ff6b08;
    margin-bottom: 14px;

}
.teacher__biography:not(:last-of-type){
    margin-bottom: 15px;
}

.teacher__sertificate{
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 29px;
    color: #ff6b08;
    font-family: "Montserrat";
    font-weight: 400;
    padding-left: 15px;
}